body {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
}
form {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
}
form h4 {
    font-size: 30px;
    font-weight: 800;
}
form input {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #ffffff;
    font-size: 16px;
}
form button{
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #000000;
    font-size: 18px;
    border: 0;
    width: 150px;
    margin: 20px auto 0;
    box-shadow: 2px 5px 5px rgb(0 0 0 / 20%);
}
button:hover{
    background: #000000;
    color: #ffffff;
    cursor: pointer;
}
